.files {
 	width: 280px; 
 	height: 500px; 
 	padding: 20px;
 	float: left;
 	border-top: 1px solid #eeeeee;
 	border-left: 1px solid #eeeeee;
 }
 
 .wrapper {
 	width: 600px; 
 	height: 100%; 
 	padding: 20px;
 	float: left;
 	border-top: 1px solid #eeeeee;
 	border-right: 1px solid #eeeeee;
 }

 .meta { 
 	height: 20%; 
 }

.video{
	height: 80%; 
}

.comments {
 	width: 390px;
 	height: 500px;
 	padding: 20px;
 	float: left;
 }
 
 .comment {
 	
 }
 
 